*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
#wrapper{
    margin-right: 40px;
    margin-left: 40px;
}
header{
    background-attachment: fixed;
    background-image: url(https://wallpaperaccess.com/full/439751.jpg);    
    height: 100px;
    box-shadow: inset black 0px 0px 20px;
}
h1{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#2501a7, #c36ed8);
    height: 400px;

    
}
#select{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    background-color: white;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    border: solid 5px black;
  
}
button {
    color: white;
    font-size: 20px;
    background: linear-gradient(#2501a7, #c36ed8);
    padding: 15px;
    border: solid 4px black;
    border-radius: 10px;
}
#img_2{
    background-image: url(https://wallpaperaccess.com/full/439751.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    box-shadow: inset black 0px 0px 20px;
}
#footer{
    display: flex;
    justify-content: center;
    background: linear-gradient(#2501a7, #c36ed8);
    height: 100px;
}
.dev{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    color: white;
}
img{
    width: 40px;
    margin-right: 10px;
    margin-top: 10px;
}
button:hover{
    background: linear-gradient(#9987da, #2501a7);
    cursor: pointer;
}

@media (max-width: 796px)
{
    h1{
        font-size: 4rem;
    }
}
@media (max-width: 725px)
{
    h1{
        font-size: 3.3rem;
    }
    #wrapper{
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media (max-width: 531px)
{
    h1{
        font-size: 3rem;
    }
    span{
        font-size: 20px;
    }
    button{
        padding: 10px;
        width: 140px;
    }
    #select{
        width: 90%;
    }
    img{
        width: 40px;
    }
}
@media (max-width: 518px)
{
    h1{
        position: absolute;
        top: 20px;
        margin-left: 30px;
        font-size: 2.7rem;

    }
}
@media (max-width: 425px)
{
    h1{
        margin: 10px;
        font-size: 2.4rem;
    }
    #select{
        width: 350px;
        height: 200px;
        border-radius: 10px;
    }
}
@media (max-width: 376px)
{
    h1{
        margin-left: 18px;
        font-size: 2rem;
    }
    #select{
        width: 320px;
        height: 180px;
    }
   
}
@media (max-width: 326px)
{
    h1{
        font-size: 1.7rem;
    }
    span{
        font-size: 20px;
    }
    button{
        padding: 5px;
        width: 100%;
    }
    #select{
        width: 90%;
    }
    img{
        width: 40px;
    }
}